{% extends "base.html" %}
{% block content %}
    <center>
        <h1>Укажите URL-адрес изображения для описания!</h1>
    </center>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <center>
        <p>
            <div style="height:10px">{{ form.url_image.label }}</div>
            <br>
            {{ form.url_image(size=64) }}
        </p>
        </center>
        <center>
            <p>
            {{ form.download() }}
            </p>
        </center>
    </form>
{% endblock %}